@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


body{
  font-family: 'Acme', sans-serif !important;
}

/*NAV */

.logo{
    width: 50px;
    animation: App-logo-spin infinite 20s linear;

}

.container-header {
  font-family: 'Acme', sans-serif;
  font-size: 25px;
}

.estilo-nav{
  background-color: rgba(33, 126, 155, 0.6);
  color: white;
}

.nav-item a{
    color: 	white;
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 4px solid #ffffff00;
    padding: 10px;
}

.nav-item a:hover{
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    color: #6495ED;
    border-bottom: 1px solid #6495ED;
  
}

/*Carousel */

.carousel-img-1{
    background: url('../img/img-4.jpg') no-repeat center center; 
    height: 80vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.carousel-img-2{
    background: url('../img/img-6.jpg') no-repeat center center ; 
    height: 80vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

/*Informações*/

 .text-claro {
  background-color: #6494edbb;
  padding: 20px 40px;
  color: white;
  font-family: 'Acme', sans-serif;
}
.text-medio{
  background-color: #6495ED;
  padding: 20px 40px;
  color: white;
  font-family: 'Acme', sans-serif;
}

.text-medio2 {
  background-color: #1983b1;
  padding: 20px 40px;
  color: white;
  font-family: 'Acme', sans-serif;
}


.text-escuro {
  background-color: #09729E;
  padding: 20px 40px;
  color: white;
  font-family: 'Acme', sans-serif;
}

/*Sobre*/

.background-sobre{
  background: linear-gradient(rgba(169, 169, 169, 0.356), rgba(169, 169, 169, 0.63)), url("../img/img-8.png");
  height: 120vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.background-sobre h2{
    font-size: 80px;
    color: #09729E;
    font-family: 'Acme', sans-serif;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 50px;
}

.background-sobre p{
  font-size: 20px;
  color: #363636;
  font-family: 'Acme', sans-serif;
}

.btn-modal{
  color: #09729E;
  border: 1px solid #09729E !important;
  background-color: #09719e00;
  font-family: 'Acme', sans-serif;
  font-size: 30px;
  margin-top: 20px;

}

.btn-modal:hover{
  color: white;
  border: 1px solid #09729E !important;
  background-color: #09729E;
}

.modal-title{
  color: #09729E;
  font-family: 'Acme', sans-serif;
}

.modal-body{
  font-family: 'Acme', sans-serif;
}

/*Especialidades */

.container-especialidades {
  margin-top: 100px;
}

.container-especialidades h2{
    padding: 20px;
    font-size: 80px;
    padding-bottom: 100px;
    color: #696969;
    font-family: 'Acme', sans-serif;
    font-weight: 900;
}

.container-especialidades p{
  padding: 30px;
  text-align: center;
  color: #696969;
  font-family: 'Acme', sans-serif;
}


.iconeClaro{
  color: #6494edbb;
  font-size: 60px;
  align-self: center;
}

.iconeMedio{
  color: #1983b1;
  font-size: 60px;
  align-self: center;
}

.iconeEscuro{
  color: #09729E;
  font-size: 60px;
  align-self: center;
}



/*Contato */

.background-contato{
    background: linear-gradient(rgba(66, 56, 56, 0.835), rgba(54, 44, 44, 0.863)), url("../img/img-7.png");
    padding: 100px 0px;
}

.img-fluid{
  padding: 40px;
}

.background-contato h2{
    padding-top: 30px;
    font-size: 60px;
    color: #fff;
    font-family: 'Acme', sans-serif;
    font-weight: 900;
}

.background-contato h3{
  padding-top: 20px;
  font-size: 35px;
  color: 	#DCDCDC;
  font-family: 'Acme', sans-serif;
  font-weight: 900;
}

.form_contato{
  padding-top: 20px;
  color: 	#DCDCDC;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
}


/*Cards */

.card-box{
  margin: 30px 10px;
  padding: 20px;
  font-family: 'Acme', sans-serif;
}

.card-img-top{
  width: 250px !important;
  align-self: center;
}

.card-title{
  color: #09729E;
}

/*Footer*/

footer{
  background: #08192B;
   color: white;
    padding: 50px;
}

.footer h6{
 font-family: 'Acme', sans-serif;   
  color: white;
  font-size: 30px;
  margin-left: -12px;
}

.footer .col-12{
  font-family: 'Acme', sans-serif;   
  color: white;
  font-size: 15px;
}

.list-items a{
  font-family: 'Acme', sans-serif;   
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.list-items a:hover{
  font-family: 'Acme', sans-serif;   
  color: white;
}

.btn-icone{
  background-color: white ;
  border-radius: 5px !important;
  color:#6495ED;
  text-decoration: none;
}

.btn-icone:hover{
  background-color: #6495ED ;
   color: white;
}