/* layout */

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
.body {
    font-family: 'Mochiy Pop P One', sans-serif;
}

/* nav */

.content-nav {
    position: fixed !important;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 0 16px !important;
    padding-top: 10px ;
    z-index: 9999;
}

.logo {
    width: 60px;
    color: black;
    margin: 10px 20px;
}

.menu-list {
    font-size: 24px;
    color: #fff;
}

.content-nav .items-nav a {
    color: black;
    text-decoration: none !important;
}

.content-nav .items-nav a {
    margin: 25px 20px 0px 20px;
    padding: 15px 25px;
    color: #fff;
    border-bottom: 4px solid #202c2a00;
}

.content-nav .items-nav a:hover {
    transition: border-bottom 1.5s;
    border-bottom: 4px solid #fff;
    color: #fff;
}


/* section banner */

.content-banner {
    display: table;
    width: 100%;
    height: 95vh;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
}

.content-apresentation {
    text-align: center;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

.content-apresentation>h1 {
    font-size: 50px;
}

/* section info  */

.info-card{
    margin-top: -80px;
    background: linear-gradient(to top, #000, #000, #000, rgba(0, 0, 0, 0.8)) ;
}

.info-card p{
  padding: 100px 150px;
}

@media screen and (max-width: 768px) {
    .info-card p{
        padding: 100px 10px;
      }
}



/* section content card */

.content-cards {
    margin: 50px 0px 100px 0px;
    background: #000;
}

.content-cards h2 {
    color: #fff;
}

.content-cards .cards {
    /* box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.315); */
    border-radius: 5px;
    margin: 15px 0px;
    /* height: 380px; */
    transition: box-shadow 1.0s;
    background: rgba(0, 0, 0, 0.8);
}

.content-cards .cards:hover {
    transition: box-shadow 1.5s;
    box-shadow: 0px 0px 15px 0px #fff;
}


.content-img{
    padding-top: 20px ;
    margin: 30px; 

}

.content-img h3, .content-img p{
    padding-top: 20px !important ;
    text-align: justify;
    color: #fff ;
    /* font-size: 30px; */
}


.content-img .img-card{
    background: url('../img/img-card.png') no-repeat center;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    margin: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}


.content-cards .cards .content-info {
    padding: 15px 10px;
}

.button-info {
    background: #fff !important;
    color: #000 !important;
    padding: 10px !important;
    margin-top: 20px;
}

.button-info:hover {
    background: #fff !important;
}


/* content contact */

.content-contact {
    margin: 100px 0;
}

.content-contact .input-contact {
    height: 40px;
}

.content-contact .input-contact:focus {
    box-shadow: 0 0 5px 0 #000;
    border: 1px solid #000;
}

.content-contact .button-contact {
    background: #000;
    padding: 10px 60px;
    color: #fff;
}

.content-contact .button-contact:hover {
    background: #000 !important ;
    color: #fff;
}


/* footer */


footer{
    background: #000  center;
     padding: 50px;
 }
 
 .footer h6,
 .footer .col-12{
   color: #fff;
   font-size: 20px;
 }
 
 .list-items a{
   color: #fff;
   font-size: 20px;
   cursor: pointer;
   text-decoration: none;

 }
 
.list-items a:hover{
    color: #fff;

}

.btn-icone{
    font-size: 20px !important;
    color: #fff !important;   
    text-decoration: none;
}

.btn-icone:hover{
    transition: background 1.5s;
    background-color: #fff !important ;
    color: #000 !important;
}

/* tipografia */

.content-img p,
.content-info {
    color: #fff;
}