/* layout */

@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
.body {
    font-family: 'Otomanopee One', sans-serif;
}


/* header */

.content-header {
    background: #816FE8;
    display: flex !important;
    justify-content: flex-end !important;
}

.content-header .content-icons {
    margin: 0px 10px;
    padding: 10px 10px;
    text-decoration: none !important;
    color: white;
}

.content-icons .icons-header {
    width: 18px;
    margin: 0 10px
}

@media (max-width: 768px) {
    .content-icons .icons-header {
        width: 10px;
        margin: 0 3px
    }
    .content-header {
        display: flex !important;
        justify-content: center !important;
    }
    .content-header .content-icons {
        margin: 0px 5px;
        padding: 10px 3px;
        font-size: 8px;
    }
}

.content-header a:hover {
    background: #4b254e;
}


/* nav */

.content-nav {
    width: 100%;
    background: white;
    padding: 0 16px !important;
    padding-top: 10px !important;
    border-bottom: 1px solid black;
}

.logo {
    width: 60px;
    color: black;
    margin: 10px 20px;
}

.menu-list {
    width: 45px;
    color: black;
}

.content-nav .items-nav a {
    color: black;
    text-decoration: none !important;
}

.content-nav .items-nav a li {
    margin: 25px 10px 0px 10px;
    padding: 15px 25px;
    color: black;
    border-bottom: 4px solid #202c2a00;
}

.content-nav .items-nav a li:hover {
    border-bottom: 4px solid #816FE8;
    color: black;
}


/* section 1 */

.content-banner {
    /* center vertical */
    display: table;
    width: 100%;
    /* ---------------- */
    height: 500px;
    background: url("../img/img-banner.png") no-repeat center;
    background-size: cover;
    /* background-attachment: fixed; */
}

@media (max-width: 768px) {
    .content-banner {
        /* center vertical */
        display: table;
        width: 100%;
        /* ---------------- */
        height: 500px;
        background: url("../img/img-banner-sm.png") no-repeat center;
        background-size: cover;
        /* background-attachment: fixed; */
    } 
}
.content-apresentation {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

.info-card{
    margin-top: -80px;
    background-color: #816FE8;
}

.info-card p{
  padding: 100px 150px;
}



/* content card */

.content-cards {
    margin: 100px 0px;
}

.content-cards .cards {
    /* box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.315); */
    border-radius: 5px;
    margin: 15px 0px;
    /* height: 380px; */
    transition: box-shadow 1.0s;
    background: #F9F9FA;
}

.content-cards .cards:hover {
    box-shadow: 0px 0px 15px 3px rgba(129, 111, 232, 0.575);
}


.content-img{
    padding-top: 20px !important ;
    border-bottom: 1px solid #816FE8;
    margin: 30px; 

}

.content-img p{
    padding-top: 20px !important ;
    text-align: center;
    color: #816FE8 !important;
    font-size: 30px;
  
}


.content-img .img-card{
    background: url('../img/img-card.png') no-repeat center;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    margin: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}


.content-cards .cards .content-info {
    padding: 15px 10px;
}

.button-info {
    background: #816FE8 !important;
    color: white !important;
    padding: 10px !important;
    margin-top: 20px;
}

.button-info:hover {
    background: #5f2f63 !important;
}


/* content contact */

.content-contact {
    margin: 100px 0;
}

.content-contact .input-contact {
    height: 40px;
}

.content-contact .button-contact {
    background: #4b254e;
    padding: 7px 60px;
    color: white;
}

.content-contact .button-contact:hover {
    background: #816FE8 !important ;
    color: white;
}


/* footer */


footer{
    background: linear-gradient( rgba(81, 63, 180, 0.575), rgb(95, 47, 96)), url('../img/img-footer.png')  center;
     padding: 50px;
 }
 
 .footer h6,
 .footer .col-12{
   color: white;
   font-size: 20px;
 }
 
 .list-items a{
   color: white;
   font-size: 20px;
   cursor: pointer;
   text-decoration: none;

 }
 
.list-items a:hover{
    color: white;

}

.btn-icone{
    font-size: 20px !important;
    color: white !important;   
    text-decoration: none;
}

.btn-icone:hover{
    background-color: white !important ;
    color: #5f2f63 !important;
}

/* tipografia */

.content-img p,
.content-info {
    color: white;
}