@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


body{
   font-family: 'Merriweather', serif !important;
}

/*NAV */

.logo{
    width: 50px;
}

.estilo-nav{
  background-color: rgba(33, 126, 155, 0.6);
  color: white;
}

.nav-item a{
    color: 	white;
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 4px solid #ffffff00;
    padding: 10px;
}

.nav-item a:hover{
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    color: #6495ED;
    border-bottom: 1px solid #6495ED;
  
}

/*Carousel */

.carousel-img-1{
    background: url('../img/img-1.jpg') no-repeat center center; 
    height: 80vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.carousel-img-2{
    background: url('../img/img-2.jpg') no-repeat center center ; 
    height: 80vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

/*Informações*/

 .text-claro {
  background-color: #6494edbb;
  padding: 20px 40px;
  color: white;
  font-family: 'Acme', sans-serif;
}
.text-medio{
  background-color: #6495ED;
  padding: 20px 40px;
  color: white;
  font-family: 'Acme', sans-serif;
}

.text-medio2 {
  background-color: #1983b1;
  padding: 20px 40px;
  color: white;
  font-family: 'Acme', sans-serif;
}


.text-escuro {
  background-color: #09729E;
  padding: 20px 40px;
  color: white;
  font-family: 'Acme', sans-serif;
}

/*Sobre*/

.background-sobre{
  background: linear-gradient(rgba(169, 169, 169, 0.356), rgba(169, 169, 169, 1)), url("../img/img-3.jpg");
  height: 80vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background-sobre h2{
  margin-top: 60px;
  color: #09729E;
  font-family: 'Acme', sans-serif;
}

.background-sobre p{
  padding: 5px 0px;
  color: #09729E;
  font-family: 'Acme', sans-serif;
}

.btn-modal{
  color: #09729E;
  border: 1px solid #09729E !important;
  background-color: #09719e00;
}

.btn-modal:hover{
  color: white;
  border: 1px solid #09729E !important;
  background-color: #09729E;
}

.modal-title{
  color: #09729E;
}

/*Especialidades */

.container-2{
  padding: 60px;
}

.icone{
  color: #6495ED;
  font-size: 60px;
  align-self: center;
}

.container-especialidades p{
  padding: 30px;
  text-align: center;
  color: #696969;
  font-family: 'Acme', sans-serif;
}

.container-especialidades h2{
    padding: 20px;
    color: #696969;
 font-family: 'Acme', sans-serif;
}

/*Contato */

.background-contato{
    background-color: 	#6495ED;
    padding: 20px 0px;
}

.img-fluid{
  padding: 40px;
}

.background-contato h2{
    padding-top: 80px;
    color: white;
    font-family: 'Acme', sans-serif;
}

.background-contato p{
    padding-top: 10px;
    color: white;
    font-family: 'Acme', sans-serif;
    text-align: justify;
}

/*Cards */

.card-box{
  margin: 30px 10px;
  padding: 20px;
  font-family: 'Acme', sans-serif;
}

.card-img-top{
  width: 250px !important;
  align-self: center;
}

.card-title{
  color: #09729E;
}

/*Footer*/

footer{
  background: linear-gradient(rgba(169, 169, 169, 0.356), rgba(169, 169, 169, 1)), url("../img/img-3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   color: white;
    padding: 50px;
}

.footer h6,
.footer .col-12{
 font-family: 'Acme', sans-serif;   
  color: #09729E;
  font-size: 20px;
}

.list-items a{
 font-family: 'Acme', sans-serif;   
  color: #09729E;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.list-items a:hover{
  font-family: 'Acme', sans-serif;   
  color: #6495ED;
  /* border-bottom: 1px solid #6495ED; */
}

.btn-icone{
  background-color: white ;
  border-radius: 5px !important;
  color:#6495ED;
  text-decoration: none;
}

.btn-icone:hover{
  background-color: #6495ED ;
   color: white;
}