/* layout */

@font-face {
    font-family: Barrio;
    src: url(https://fonts.google.com/specimen/Noto+Sans+JP#standard-styles)
}

.body {
    font-family: Thin;
    background-color: #D3D3D3;
}


/* content navbar */

.content-navbar {
    width: 100% !important;
    background-color: rgba(51, 51, 51, 0.6);
    padding: 0 20px !important;
}

.bi-list {
    color: #D3D3D3;
    width: 30px;
    height: 30px;
}

.bi-github {
    width: 50px;
    height: 50px;
    color: white;
}

.items-list {
    margin-right: 100px;
}


/* content banner */

.content-banner {
    background: url('../img/background.jpg') no-repeat center;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-banner h1 {
    padding-top: 300px;
    color: white;
}


/* content info */

.content-info {
    background-color: white;
    padding: 50px 0;
}

.content-info h2 {
    padding-bottom: 20px;
}

.content-info p,
.content-info ul,
.card-text {
   font-size: 20px;
   text-align: justify;
}


/* content card */

.content-card {
    margin-top: 150px;
    margin-bottom: 150px;
}

.content-card {
    margin-top: 150px;
    margin-bottom: 150px;
}

.card-form {
    transition: all 2s;
}

.card-form:hover {
    transform: scale(1.05);
}


/* content footer */

.content-footer {
    background-color: #333;
    height: 100%;
    width: 100%;
}

.box-acess ul a {
    text-decoration: none;
}

.box-acess ul a li {
    margin: 4px;
}

.box-acess ul a li:hover,
.contact:hover {
    color: #D3D3D3;
}

.contact {
    text-decoration: none;
    color: white;
}


/* tipografia */

.nav-list .items-list a {
    color: white;
    padding: 20px 35px!important;
    margin: auto 25px;
    font-size: 18px;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
}

.nav-list .items-list a:hover {
    background-color: rgb(70, 70, 70);
    border-bottom: 5px solid white;
}

.content-footer h2{
    color: white;
    font-size: 25px;
    text-align: justify;
}


.content-footer p,
.content-footer ul li,
.content-footer a {
    color: white;
    font-size: 20px;
    text-align: justify;
}

hr {
    background: #D3D3D3
}

.content-footer a {
    color: white;
    text-decoration: none !important;
}

.content-footer .col-12{
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
}