@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,700&display=swap');


body{
   font-family: 'Merriweather', serif;
}

/*NAV */

.logo{
    width: 50px;
}

.estilo-nav{
    background-color:#B22222;
    color: 	white;
}

.nav-item{
    padding-left: 30px;
  }

.nav-item a{
    color: 	white;
    text-decoration: none;
   font-family: 'Merriweather', serif;
    font-size: 20px;
    margin-left: 30px;
    border-bottom: 4px solid #ffffff00;
    padding: 10px;
}

.nav-item a:hover{
    color: 	#B22222;
    text-decoration: none;
  font-family: 'Merriweather', serif;
    font-size: 20px;
background-color: white;
border-radius: 30px;
}

/*ITEM-1 */

.container-1 h2{
    padding-top: 50px;
    color: #696969;
  font-family: 'Merriweather', serif;
}

.container-1 p{
    margin-top: 30px;
    color: #696969;
  font-family: 'Merriweather', serif;
    text-align: justify;
}

.container-1 a{
    margin-top: 20px;
    color: white;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}
.container-1 a:hover{
    color: white;
}

.container-1 i{
    color: #B22222;
}

.img-carousel{
    padding: 70px;
    width: 100%;
}

h5{
    color: white !important;
    font-size: 30px !important;
    font-family: 'Merriweather', serif;
}

/*ITEM-2 */

.container-2 .btn-radius{
background-color: #B22222;
color: white;
border-radius: 45px;
height: 90px;
width: 90px;
font-size: 46px;
align-self: center;
}


.container-2 p{
    padding: 30px;
    color: #696969;
  font-family: 'Merriweather', serif;
}

.container-2 h2{
    padding: 20px;
    color: #696969;
  font-family: 'Merriweather', serif;
}


/*ITEM 3 */

.card-box{   
    padding: 20px;
  font-family: 'Merriweather', serif;
    background-color: 	#B22222 !important;
    border: none !important;
}

.card-img-top{
    width: 300px !important;
    align-self: center;
}

.card-title{
    color: white;
}

.btn-click{
background-color: #696969;
color: white;
border-radius: 30px !important;
}

.btn-click:hover{
color: white;
}

.btn-icone{
    background-color: white ;
    border-radius: 30px !important;
    color:#B22222;
    text-decoration: none;
}
.btn-icone:hover{
   color: #696969;
}

#item-3{
    background-color: 	#B22222;
}

#item-3 h2{
    padding-top: 80px;
    color: white;
  font-family: 'Merriweather', serif;
}


#item-3 p{
    padding-top: 10px;
    color: white;
  font-family: 'Merriweather', serif;
}

#item-3 button{
    margin-top: 30px;
  font-family: 'Merriweather', serif; 
    margin-bottom: 30px;  
}

/*Footer*/

footer{
    background-color: #696969;
    padding: 50px;
}

.footer h6{
  font-family: 'Merriweather', serif;   
  color: white;
  font-size: 20px;
}

.list-items a {
  font-family: 'Merriweather', serif;   
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.list-items a:hover{
    font-family: 'Merriweather', serif;   
    color: #B22222;
    text-decoration: none !important;
  }


.footer .col-12{
  font-family: 'Merriweather', serif;   
  color: white;
  font-size: 15px;
}
